<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MotivationRun.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MotivationRunWidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>66B64BD52F3B54AD0046DB87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66B64BE52F3B54B30046DB87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66B64BEF2F3B54B30046DB87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66B64C082F3EB2740046DB87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
